<!DOCTYPE html>
<html lang="{{ settings.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ settings.description }}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ settings.name }}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body class="max-w-screen-xl mx-auto">
    {% include "./partials/navbar.html" %}

    <div id="main-content" class="flex">{{ content | safe }}</div>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script>
      const callback = function (entries) { entries.forEach((entry) => { /* console.log(entry); */ if (entry.isIntersecting) { entry.target.classList.add("animate-fadeIn"); } else { entry.target.classList.remove("animate-fadeIn"); } }); }; const observer = new IntersectionObserver(callback); const targets = document.querySelectorAll(".js-show-on-scroll"); targets.forEach(function (target) { target.classList.add("opacity-0"); observer.observe(target); });
    </script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
