@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

#hero {
  @apply motion-safe:animate-fadeIn;
}

div#hero-image {
  @apply w-full mx-auto transition-all duration-500 md:w-1/2 filter-grayscale hover:filter-none;
}
div#hero-image img {
  @apply mx-auto;
}

h1,
h2,
h3 {
  @apply my-3 font-bold;
}

h1 {
  @apply pb-2 text-4xl tracking-tighter text-center text-indigo-500 border-b-8 border-indigo-500 lg:text-7xl;
}

h2 {
  @apply text-3xl text-indigo-500;
}

h3 {
  @apply text-2xl;
}

p {
  @apply mb-3;
}

.modal {
  @apply fixed inset-0 z-50 flex items-center justify-center w-full h-full transition-all duration-700 bg-black bg-opacity-75;
}

[id] {
  scroll-margin-top: 16rem;
}
@media (min-width: 1024px) {
  [id] {
    scroll-margin-top: 1rem;
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
