@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

h1, h2, h3, #subtitle {
  @apply z-0 motion-safe:animate-fadeIn;
}

h1, h2, h3 {
  @apply my-3 font-bold;
}

h1 {
  @apply pb-2 text-4xl tracking-tighter text-center text-indigo-500 border-b-8 border-indigo-500 lg:text-7xl; 
}

h2 {
  @apply text-3xl text-indigo-500;
}

h3 {
  @apply text-2xl;
}

p {
  @apply mb-3;
}

.modal {
  @apply fixed top-0 left-0 z-50 flex items-center justify-center w-full h-full bg-black bg-opacity-50;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
