@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

h1, h2, h3, #subtitle {
  @apply motion-safe:animate-fadeIn;
}

h1, h2, h3 {
  @apply font-bold my-3;
}

h1 {
  @apply text-4xl tracking-tighter text-center lg:text-7xl text-indigo-500 border-b-8 border-indigo-500 pb-2; 
}

h2 {
  @apply text-3xl text-indigo-500;
}

h3 {
  @apply text-2xl;
}

p {
  @apply mb-3;
}

[id] {
  scroll-margin-top: 2ex;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
