---
layout: default
title: Anna-Lena Delger
subtitle: vocal jazz & piano.
path: home
links: true
---

<div class="px-6">
  <div id="hero">
    <picture id="hero-image">
    <source srcset="/static/img/ald.webp" type="image/webp">
    <source srcset="/static/img/ald.jpg" type="image/jpg">
      <img
        src="/static/img/ald.jpg"
        class="w-full mx-auto duration-1000 ease-in-out transition-filter md:w-1/2 filter-grayscale hover:filter-none"
        alt="Anna-Lena Delger Portrait"
      />
    </picture>
    <div class="mx-auto w-max">
      <h1
        id="title"
        class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-500 to-pink-500"
      >
        {{ homepage.title }}
      </h1>
      <p
        id="subtitle"
        class="font-mono text-xl tracking-widest text-center text-gray-700"
      >
        {{ homepage.subtitle }}
      </p>
    </div>
  </div>
  
  {% if homepage.welcome %}
  <h2 id="welcome">Welcome</h2>
  <div class="">{{ homepage.welcome | md | safe }}</div>
  {% else %}
  <p>Hi there! How are you? Welcome to this beautiful website.</p>
  {% endif %} 
  
  {% if homepage.vita %}
  <h2 id="vita">Vita</h2>
  <div class="">{{ homepage.vita | md | safe }}</div>
  {% else %}
  <p>The website is under construction. There will be more content soon!</p>
  {% endif %}
  
  {% if homepage.concerts %}
  <h2 id="concerts">Concerts</h2>
  <div class="">{{ homepage.concerts | md | safe }}</div>
  {% else %}
  <p>Sorry, there are no concerts planned at the moment.</p>
  {% endif %} 

  {% if links %} 
    {% include "./_includes/partials/content.html" %}
  {% endif %}

  <h2 id="gallery">Gallery</h2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 ">
    {% for image in homepage.gallery %}
    <div class="" x-data="{ open: false }">
      <picture class="js-show-on-scroll">
      {% if image.webp %}
      <source srcset="{{ image.webp }}" type="image/webp">
      {% endif %}
      <source srcset="{{ image.jpg }}" type="image/jpg">
        <img
          src="{{ image.jpg }}"
          class="object-cover w-full filter-grayscale"
          alt="{{ image.alt }}"
          @click="open = true"
        />
      </picture>
      <div
        class="modal"
        x-show="open"
        @click="open = false"
        x-transition:enter="ease-out duration-200" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90"
      >
        <picture>
        {% if image.webp %}
        <source srcset="{{ image.webp }}" type="image/webp">
        {% endif %}
        <source srcset="{{ image.jpg }}" type="image/jpg">
          <img
            src="{{ image.jpg }}"
            class="object-cover"
            alt="{{ image.alt }}"
         />
        </picture>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
