---
layout: default
title: Anna-Lena Delger
subtitle: vocal jazz & piano.
path: home
links: true
---

<div class="px-6">
  <div class="">
    <h1 class="font-bold text-indigo-500 motion-safe:animate-fadeIn">{{ title }}</h1>
    <p class="text-center text-xl text-gray-700 font-mono">{{ subtitle }}</p>
  </div>

  <img src="/static/img/ai.jpg" width="200" />

  {% if homepage.intro %}
  <div class="">
    {{ homepage.intro | safe }}
  </div>
  {% endif %}

  {% if homepage.vita %}
  <div class="">
    {{ homepage.vita | safe }}
  </div>
  {% endif %}

  {% if homepage.concerts %}
  <div class="">
    {{ homepage.concerts | safe }}
  </div>
  {% endif %}

  {% if gallery.items %}
  <div class="">
    <ul class="">
      {% for image in gallery.items %}
      <li><img src="{{ image.src }}" alt="" /></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if links %}
  {% include "./_includes/partials/content.html" %}
  {% endif %}
</div>