---
layout: default
title: Anna-Lena Delger
subtitle: vocal jazz & piano.
path: home
links: true
---

<div class="px-6">
  <div class="mx-auto w-max">
    <h1 id="title" class="bg-clip-text text-transparent bg-gradient-to-tr from-indigo-500 to-pink-500">{{ title }}</h1>
    <p id="subtitle" class="text-center text-xl text-gray-700 font-mono tracking-widest">{{ subtitle }}</p>
  </div>

<h2 id="welcome">Welcome</h2>
    <p>
    Non occaecat velit pariatur non velit cillum. Ea nulla in ea ea velit magna eu dolor eu ea. Fugiat sit ut nisi duis consequat elit commodo laboris ullamco labore deserunt culpa officia. Magna cillum duis do ullamco est.
  </p>

<p>
  Et in labore Lorem ad aliqua exercitation ut duis labore velit. Magna minim Lorem fugiat commodo excepteur aliquip enim voluptate aute consequat id sit. Amet proident aliqua sint et pariatur qui ipsum eiusmod. Dolore est quis incididunt culpa excepteur nostrud adipisicing est commodo eiusmod veniam tempor nulla eiusmod. Nisi ea ipsum enim est minim incididunt amet commodo laborum nisi.
</p>

<p>
  Laboris officia officia duis sint quis reprehenderit commodo sit ut. Ut adipisicing duis do do velit ipsum id aute aliqua ut culpa ex. Amet amet enim nostrud exercitation incididunt non qui officia culpa dolore eiusmod magna in.
</p>

<p>
  Commodo laborum proident sunt sint aute velit deserunt tempor ipsum sint exercitation pariatur fugiat. Enim pariatur duis sit qui duis incididunt tempor commodo exercitation magna. Minim aute enim dolor incididunt exercitation esse. Consectetur nostrud dolore excepteur dolor do aliqua fugiat laborum quis anim eu adipisicing sint cillum. Ullamco laboris in qui occaecat ipsum incididunt sint non consequat ipsum.
</p>

<p>
  Est qui non mollit reprehenderit laboris sit consequat cillum ullamco consequat proident sint occaecat voluptate. Veniam irure non reprehenderit excepteur minim mollit veniam consequat velit qui incididunt aliquip amet. Tempor cupidatat ut sit tempor laboris deserunt labore reprehenderit culpa esse velit eiusmod exercitation. Pariatur minim dolore adipisicing occaecat non nostrud culpa eiusmod mollit.
</p>
<h2 id="vita">Vita</h2>
  <p>
    Non occaecat velit pariatur non velit cillum. Ea nulla in ea ea velit magna eu dolor eu ea. Fugiat sit ut nisi duis consequat elit commodo laboris ullamco labore deserunt culpa officia. Magna cillum duis do ullamco est.
  </p>

<p>
  Et in labore Lorem ad aliqua exercitation ut duis labore velit. Magna minim Lorem fugiat commodo excepteur aliquip enim voluptate aute consequat id sit. Amet proident aliqua sint et pariatur qui ipsum eiusmod. Dolore est quis incididunt culpa excepteur nostrud adipisicing est commodo eiusmod veniam tempor nulla eiusmod. Nisi ea ipsum enim est minim incididunt amet commodo laborum nisi.
</p>

<p>
  Laboris officia officia duis sint quis reprehenderit commodo sit ut. Ut adipisicing duis do do velit ipsum id aute aliqua ut culpa ex. Amet amet enim nostrud exercitation incididunt non qui officia culpa dolore eiusmod magna in.
</p>
<h2 id="concerts">Concerts</h2>
<p>
  Commodo laborum proident sunt sint aute velit deserunt tempor ipsum sint exercitation pariatur fugiat. Enim pariatur duis sit qui duis incididunt tempor commodo exercitation magna. Minim aute enim dolor incididunt exercitation esse. Consectetur nostrud dolore excepteur dolor do aliqua fugiat laborum quis anim eu adipisicing sint cillum. Ullamco laboris in qui occaecat ipsum incididunt sint non consequat ipsum.
</p>

<p>
  Est qui non mollit reprehenderit laboris sit consequat cillum ullamco consequat proident sint occaecat voluptate. Veniam irure non reprehenderit excepteur minim mollit veniam consequat velit qui incididunt aliquip amet. Tempor cupidatat ut sit tempor laboris deserunt labore reprehenderit culpa esse velit eiusmod exercitation. Pariatur minim dolore adipisicing occaecat non nostrud culpa eiusmod mollit.
</p>

<h2 id="gallery">Gallery</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4 js-show-on-scroll">
  <img src="/static/img/ai.jpg" class="w-full" alt="Test Image" />
  <img src="/static/img/ai.jpg" class="w-full" alt="Test Image" />
  <img src="/static/img/ai.jpg" class="w-full" alt="Test Image" />
  </div>

  {% if homepage.intro %}
  <div class="">
    {{ homepage.intro | safe }}
  </div>
  {% endif %}

  {% if homepage.vita %}
  <div class="">
    {{ homepage.vita | safe }}
  </div>
  {% endif %}

  {% if homepage.concerts %}
  <div class="">
    {{ homepage.concerts | safe }}
  </div>
  {% endif %}

  {% if gallery.items %}
  <div class="">
    <ul class="">
      {% for image in gallery.items %}
      <li><img src="{{ image.src }}" alt="" /></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if links %}
  {% include "./_includes/partials/content.html" %}
  {% endif %}
</div>